{% extends "./base.html" %}
{% load static %}
{% block title %}VRM{% endblock %}

{% block content %}
<main>
  <!-- Hero Start -->
  <div class="container-fluid pd-tb-7 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7 home-banner">
                <h1 class="mb-3 text-white">Vasudha Rice Mill</h1>
                <h4 class="fs-6 ms-2 text-white">Food Processing Industries</h4>
                <!-- <div class="position-relative mx-auto">
                    <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number" placeholder="Search">
                    <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Submit Now</button>
                </div> -->
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active rounded">
                        <img src="../media/images/slide-1.jpg" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                        <!-- <a href="#" class="btn px-4 py-2 text-white rounded">Fruites</a> -->
                    </div>
                    <div class="carousel-item rounded">
                        <img src="../media/images/slide-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                        <!-- <a href="#" class="btn px-4 py-2 text-white rounded">Vesitables</a> -->
                    </div>
                    <div class="carousel-item rounded">
                      <img src="../media/images/slide-3.jpg" class="img-fluid w-100 h-100 rounded" alt="third slide">
                      <!-- <a href="#" class="btn px-4 py-2 text-white rounded">Vesitables</a> -->
                  </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- why are we Better Start -->
<div class="elementor-element elementor-element-7a2553c5 e-con-full e-flex e-con e-parent" data-id="7a2553c5" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}" data-core-v316-plus="true">
    <div class="elementor-element elementor-element-4174cb2c elementor-widget elementor-widget-agrofa-features" data-id="4174cb2c" data-element_type="widget" data-widget_type="agrofa-features.default">
        <div class="elementor-widget-container">
            <section class="feature-one feature-one--two">
                <div class="container">
                    <div class="section-common-title fadeInDown wow text-center" data-wow-delay="1500ms">
                        <span class="feature-one--two__chose-reasone food-chose-reasone">
                            <img decoding="async" src="../../media/images/food-img1-1.png" alt="food-img1-1" title="food-img1-1" class="feature-one--two__chose-icon food-chose-icon">					<strong class="feature-one--two__chose-name food-chose-name">WHY CHOSE US</strong>
                        </span>
                        <h3 class="feature-one--two__title food-chose-title">Why are We Better<span><br></span> than Others?</h3>			
                    </div>
                    <div class="row">
                        <div class="feature-one__col-item col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                            <div class="feature-one__item text-center">
                                <div class="feature-one__shape_one">
                                    <img decoding="async" src="../../media/images/feature1-left.png" alt="feature1-left" title="feature1-left">							
                                </div>
                                <div class="feature-one__shape_two">
                                    <img decoding="async" src="../../media/images/feature1-right.png" alt="feature1-right" title="feature1-right">							
                                </div>
                                <div class="feature-one__item-bg">
                                    <div class="feature-one__cricle-icon">
                                        <span aria-hidden="true" class="feature-one__icon  icon-apple"></span>								
                                    </div>
                                    <h3 class="feature-one__title">Quality Organic <br> Food </h3>
                                </div>
                            </div>
                            <!-- feature-item -->
                        </div>
                        <div class="feature-one__col-item col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                            <div class="feature-one__item text-center">
                                <div class="feature-one__shape_one">
                                    <img decoding="async" src="../../media/images/feature1-left.png" alt="feature1-left" title="feature1-left">							
                                </div>
                                <div class="feature-one__shape_two">
                                    <img decoding="async" src="../../media/images/feature1-right.png" alt="feature1-right" title="feature1-right">							
                                </div>
                                <div class="feature-one__item-bg">
                                    <div class="feature-one__cricle-icon">
                                        <span aria-hidden="true" class="feature-one__icon   icon-hand"></span>								
                                    </div>
                                    <h3 class="feature-one__title">Quality Standards <br> Services	</h3>
                                </div>
                            </div>
                            <!-- feature-item -->
                        </div>
                        <div class="feature-one__col-item col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                            <div class="feature-one__item text-center">
                                <div class="feature-one__shape_one">
                                    <img decoding="async" src="../../media/images/feature1-left.png" alt="feature1-left" title="feature1-left">							
                                </div>
                                <div class="feature-one__shape_two">
                                    <img decoding="async" src="../../media/images/feature1-right.png" alt="feature1-right" title="feature1-right">							
                                </div>
                                <div class="feature-one__item-bg">
                                    <div class="feature-one__cricle-icon">
                                        <span aria-hidden="true" class="feature-one__icon   icon-tractor"></span>								
                                    </div>
                                    <h3 class="feature-one__title"> Organic Food Straight <br> From The Farmer	</h3>
                                </div>
                            </div>
                            <!-- feature-item -->
                        </div>
                    </div>
                </div>
                <div class="feature-one--two__effect3">
                    <img decoding="async" src="../../../media/images/choose-effect2-1.png" alt="choose-effect2-1" title="choose-effect2-1">		</div>
            </section>
        </div>
    </div>
</div>
<!-- why are we Better End -->
 <!-- Products Start -->
    <div class="container-fluid fruite pt-5">
            <div class="container py-3">
                <div class="tab-class text-center">
                    <div class="row g-4">
                        <div class="col-lg-4 text-start prt-0">
                            <h1>Our Organic Products</h1>
                        </div>
                       
                        <div class="col-lg-8 text-end">
                            <ul class="nav nav-pills d-inline-flex text-center mb-5" id="categoryTabs">
                                <li class="nav-item">
                                    <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-all">
                                        <span class="text-dark">All Products</span>
                                    </a>
                                </li>
                                {% for c in categories %}
                                <li {% if category.slug == c.slug %}class="selected" {% endif %} class="nav-item">
                                    <a class="d-flex py-2 m-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-{{ c.slug }}">
                                        <span class="text-dark">{{ c.name|title }}  </span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="d-md-none d-lg-none d-xl-none">
                                <div class="collapse navbar-collapse" id="navbarCollapse">
                                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                        <li><a class="dropdown-item" href="{% url 'store:product_all' %}">All</a></li>
                                        {% for c in categories %}
                                        <li>
                                            <a class="dropdown-item{% if category.slug == c.slug %} active{% endif %}" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="tab-all" class="tab-pane fade p-0 {% if category.slug == c.slug %}active show{% endif %}">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="row g-4">
                                        {% for product in products %}
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                          <div class="rounded position-relative fruite-item border border-secondary rounded-bottom">
                                              <div class="fruite-img">
                                                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                                                  <img src="{{ product.image.url }}" class="img-fluid w-100 rounded-top" alt="">
                                                </a>
                                              </div>
                                              <div class="p-4 border-top-0">
                                                  <h4 class="text-start "><a class="text-dark text-decoration-none fw-bold"
                                                    href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}</a></h4>
                                                  <!-- <p>{{product.description}}</p> -->
                                                  <div class="text-start flex-lg-wrap">
                                                      <p class="text-dark fs-6 fw-bold mb-0 w-100 text-start"><del>Rs.{{product.price}} / {{product.weight}}</del></p>
                                                      <p class="text-dark fs-6 fw-bold mb-0">Rs.{{product.discont_price}} / {{product.weight}}</p>
                                                      <a href="{{ product.get_absolute_url }}" class="btn border border-secondary rounded-pill px-3 mt-3 text-primary btn-dark-rd" ><i class="fa fa-shopping-bag me-2"></i> Add to cart</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% for c in categories %}
                        <div id="tab-{{ c.slug }}" class="tab-pane fade p-0">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="row g-4">
                                        {% for product in products %}
                                        {% if product.category == c %}
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <div class="rounded position-relative fruite-item border border-secondary rounded-bottom">
                                                <div class="fruite-img">
                                                    <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                                                        <img src="{{ product.image.url }}" class="img-fluid w-100 rounded-top" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-4 border-top-0">
                                                    <h4 class="text-start "><a class="text-dark text-decoration-none"
                                                        href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}</a></h4>
                                                    <!-- <p>{{product.description}}</p> -->
                                                    <div class="justify-content-between flex-lg-wrap text-start">
                                                        <p class="text-dark fs-5 fw-bold mb-0 w-100"><del>Rs.{{product.price}} / {{product.weight}}</del></p>
                                                        <p class="text-dark fs-5 fw-bold mb-0">Rs.{{product.discont_price}} / {{product.weight}}</p>
                                                        <a href="{{ product.get_absolute_url }}"
                                                            class="btn border border-secondary rounded-pill px-3 mt-3 text-primary btn-dark-rd"><i
                                                                class="fa fa-shopping-bag me-2"></i> Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>      
            </div>
        </div>
    <!-- Products End -->
     <!-- Image Section Starts -->
        {% for banner in banners %}
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 pt-5">
                        <p class="text-dark fs-1 fw-bold mb-2">{{banner.title}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-section">
            <a class="text-dark text-decoration-none" href="#">
            <img src="{{ banner.image.url }}" class="w-100" alt="">
            </a>
        </div>
        {% endfor %}
    <!-- Image Section End -->
</main>
{% endblock %}

<script>
    $('#categoryTabs a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>