{% extends "../store/base.html" %}
{% load static %}
{% block title %}VRM{% endblock %}
{% block content %}

<div class="col-md-12 mb-4 mt-3 about-mt-150">
    <!-- {{ form.as_p }} -->
    <div class="container py-5">
       <div class="p-5 bg-light rounded">
           <div class="row g-4">
               <div class="col-12">
                    <div class="text-center mx-auto" >
                        <h1>Thank you for your order!</h1>
                        <div class="order-success-message" style="margin-top: 50px;">
                            <p>Your order has been placed successfully.</p>
                            <p>We appreciate your business and will process your order shortly.</p>
                            <p>If you have any questions, feel free to contact us.</p>
                            <a href="/" class="btn btn-primary border-secondary py-3 bg-white text-primary w-25" style="margin-top: 20px;">Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
